.table-chart {
  &__content {
    width: 100%;
    max-width: 100%;

    &--item {
      padding: 0.75rem 1rem;
      display: grid;
      grid-template-columns: repeat(3, min-content) 1fr min-content;
      place-items: center;
      gap: 1rem;
      cursor: pointer;

      &:nth-of-type(even) {
        background-color: hsl(222, 10%, 95%);
      }

      &__rank,
      &__rank-delta,
      &__image,
      &__icon-group {
        @extend %flex-center;
      }

      &__rank,
      &__rank-delta {
        width: 3rem;
        aspect-ratio: 1 / 1;
      }

      &__rank-delta {
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.25rem;

          svg {
            width: 1.5rem;
            aspect-ratio: 1 / 1;
          }

          h4 {
            font-size: calc(font-size(medium) - 0.5rem);
          }
        }

        span.rank-up {
          color: hsl(0, 75%, 50%);
        }

        span.rank-down {
          color: hsl(222, 75%, 50%);

          svg {
            transform: rotate(0.5turn);
          }
        }

        span.rank-new {
          color: hsl(60, 75%, 50%);
        }

        span.rank-even {
          h4 {
            font-size: font-size(medium);
            color: hsl(222, 10%, 50%);
          }
        }
      }

      &__image {
        border: 1px solid hsl(222, 10%, 80%);
        border-radius: 1rem;
        width: 7rem;
        aspect-ratio: 1 / 1;

        .image-container {
          overflow: hidden;
          border-radius: inherit;
          width: 6rem;
          aspect-ratio: 1 / 1;
          transition: all 0.5s cubic-bezier(1, 0, 0, 1);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__song-info {
        place-self: center start;
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        place-items: center start;

        h4 {
          max-width: 100%;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        div.song {
          display: flex;
          flex-direction: column;
          min-width: 0;
          width: 100%;

          h4.artist-name {
            font-size: calc(font-size(medium) - 0.5rem);
            color: hsl(222, 10%, 50%);
          }
        }

        h4.album-name {
          min-width: 0;
          font-size: calc(font-size(medium) - 0.5rem);
          color: hsl(222, 10%, 50%);
        }
      }

      &__icon-group {
        display: flex;
        gap: 1rem;

        svg {
          width: 2rem;
        }
      }

      &:hover {
        .table-chart__content--item__image {
          .image-container {
            width: 7rem;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    div.song-info {
      div.song {
        display: flex;

        h4.album-name {
          display: none;
        }
      }
    }
  }
}
