*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(222, 0%, 100%);
}

:root {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
}
