@import "./reset";
@import "./font";
@import "./palette";

.grid {
  display: grid;
  grid-template-columns:
    [container-start] 1fr repeat(
      6,
      [col-start] minmax(min-content, 17.66667rem) [col-end]
    )
    1fr [container-end];
  grid-template-rows: min-content;
}

.sec-padding {
  padding: 1rem 2rem;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@import "./table/table";
@import "./table/table-chart";
